.infobar-section {
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  height: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: -5px 0px 20px rgba(0,0,0,0.05);
  transition: 0.5s ease-in-out;
}

.hidden {
  right: -360px;
}

.title {
  height: 48px;
  padding: 15px;
  border-bottom: 1px #D8E1E8 solid;
}

.content {
  padding: 0 15px;
}
